# A tutorial to scrape the location ID of any city in BBC Weather. 
This code snippet takes city name as input and it hits the BBC Weahter API with a request for location ID. This location ID is used as input in the next part of the code to scrape weather forecast for the city using this location ID.  


*Web scraping might not be legal always. It is a good idea to check the terms of the website you plan to scrape before proceeding. Also, if your code requests a url from a server multiple times, it is a good practice to either cache your requests, or insert a timed delay between consecutive requests.*

In [1]:
import os

import requests               # to get the webpage
import json                   # to convert API to json format

from urllib.parse import urlencode
import numpy as np
import pandas as pd
import re                     # regular expression operators

In [2]:
test_city = "New York"
location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
   'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
   's': test_city,
   'stack': 'aws',
   'locale': 'en',
   'filter': 'international',
   'place-types': 'settlement,airport,district',
   'order': 'importance',
   'a': 'true',
   'format': 'json'
})
location_url

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&s=New+York&stack=aws&locale=en&filter=international&place-types=settlement%2Cairport%2Cdistrict&order=importance&a=true&format=json'

In [3]:
result = requests.get(location_url).json()
result

{'response': {'results': {'results': [{'container': 'United States',
     'containerId': 6252001,
     'country': 'US',
     'id': '5128581',
     'language': 'en',
     'latitude': 40.71427,
     'longitude': -74.00597,
     'name': 'New York',
     'placeType': 'settlement',
     'timezone': 'America/New_York'},
    {'container': 'Lincolnshire',
     'containerId': 2644486,
     'country': 'GB',
     'id': '2641508',
     'language': 'en',
     'latitude': 53.07897,
     'longitude': -0.14008,
     'name': 'New York',
     'placeType': 'settlement',
     'timezone': 'Europe/London',
     'topicId': 'cr0mejz7n26t'}],
   'totalResults': 2}}}

In [4]:
# Print location id
result['response']['results']['results'][0]['id']

'5128581'

Creating a function to output location id by taking any city name as input.

In [5]:
def getlocid(city):
    city = city.lower() # convert city name to lowercase to standardize format
    # Convert into an API call using URL encoding
    location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
      'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
      's': city,
      'stack': 'aws',
      'locale': 'en',
      'filter': 'international',
      'place-types': 'settlement,airport,district',
      'order': 'importance',
      'a': 'true',
      'format': 'json'
    })
    result = requests.get(location_url).json()
    locid = result['response']['results']['results'][0]['id']
    return locid

In [6]:
getlocid('Toronto')

'6167865'

# A tutorial to scrape the location ID of any city in BBC Weather. 
This code snippet takes city name as input and it hits the BBC Weahter API with a request for location ID. This location ID is used as input in the next part of the code to scrape weather forecast for the city using this location ID.  


*Web scraping might not be legal always. It is a good idea to check the terms of the website you plan to scrape before proceeding. Also, if your code requests a url from a server multiple times, it is a good practice to either cache your requests, or insert a timed delay between consecutive requests.*

In [7]:
import os

import requests               # to get the webpage
import json                   # to convert API to json format

from urllib.parse import urlencode
import numpy as np
import pandas as pd
import re                     # regular expression operators

In [8]:
test_city = "New York"
location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
   'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
   's': test_city,
   'stack': 'aws',
   'locale': 'en',
   'filter': 'international',
   'place-types': 'settlement,airport,district',
   'order': 'importance',
   'a': 'true',
   'format': 'json'
})
location_url

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&s=New+York&stack=aws&locale=en&filter=international&place-types=settlement%2Cairport%2Cdistrict&order=importance&a=true&format=json'

In [9]:
result = requests.get(location_url).json()
result

{'response': {'results': {'results': [{'container': 'United States',
     'containerId': 6252001,
     'country': 'US',
     'id': '5128581',
     'language': 'en',
     'latitude': 40.71427,
     'longitude': -74.00597,
     'name': 'New York',
     'placeType': 'settlement',
     'timezone': 'America/New_York'},
    {'container': 'Lincolnshire',
     'containerId': 2644486,
     'country': 'GB',
     'id': '2641508',
     'language': 'en',
     'latitude': 53.07897,
     'longitude': -0.14008,
     'name': 'New York',
     'placeType': 'settlement',
     'timezone': 'Europe/London',
     'topicId': 'cr0mejz7n26t'}],
   'totalResults': 2}}}

In [10]:
# Print location id
result['response']['results']['results'][0]['id']

'5128581'

In [11]:
def getlocid(city):
    city = city.lower() # convert city name to lowercase to standardize format
    # Convert into an API call using URL encoding
    location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
      'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
      's': city,
      'stack': 'aws',
      'locale': 'en',
      'filter': 'international',
      'place-types': 'settlement,airport,district',
      'order': 'importance',
      'a': 'true',
      'format': 'json'
    })
    result = requests.get(location_url).json()
    locid = result['response']['results']['results'][0]['id']
    return locid

In [12]:
getlocid('Toronto')

'6167865'

# A tutorial to scrape the web. 

This example scrapes the BBC weather website for any specific city, and collects weather forecast for the next 14 days and saves it as a csv file.

*Web scraping might not be legal always. It is a good idea to check the terms of the website you plan to scrape before proceeding. Also, if your code requests a url from a server multiple times, it is a good practice to either cache your requests, or insert a timed delay between consecutive requests.*

In [13]:
import json                   # to convert API to json format

from urllib.parse import urlencode

import requests               # to get the webpage
from bs4 import BeautifulSoup # to parse the webpage

import pandas as pd
import re                     # regular expression operators

from datetime import datetime

We now GET the webpage of interest, from the server

In [14]:
required_city = "Mumbai"
location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
   'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
   's': required_city,
   'stack': 'aws',
   'locale': 'en',
   'filter': 'international',
   'place-types': 'settlement,airport,district',
   'order': 'importance',
   'a': 'true',
   'format': 'json'
})
location_url

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&s=Mumbai&stack=aws&locale=en&filter=international&place-types=settlement%2Cairport%2Cdistrict&order=importance&a=true&format=json'

In [15]:
result = requests.get(location_url).json()
result

{'response': {'results': {'results': [{'container': 'India',
     'containerId': 1269750,
     'country': 'IN',
     'id': '1275339',
     'language': 'en',
     'latitude': 19.07283,
     'longitude': 72.88261,
     'name': 'Mumbai',
     'placeType': 'settlement',
     'timezone': 'Asia/Kolkata'}],
   'totalResults': 1}}}

In [16]:
# url      = 'https://www.bbc.com/weather/1275339' # url to BBC weather, corresponding to a specific city (Mumbai, in this example)
url      = 'https://www.bbc.com/weather/'+result['response']['results']['results'][0]['id']
response = requests.get(url)

Next, we initiate an instance of  BeautifulSoup.

In [17]:
soup = BeautifulSoup(response.content,'html.parser')

The information we want (daily high and low temp., and daily weather summary, are in specific blocks on the webpage. 
We need to find the block type, type of identifier, and the identifier name (all these can be figured out by right clicking
on the webpage and selecting 'Inspect' on the Chrome browser; similar modus operandi for other browsers)

In [18]:
daily_high_values = soup.find_all('span', attrs={'class': 'wr-day-temperature__high-value'}) # block-type: span; identifier type: class; and class name: wr-day-temperature__high-value 
daily_high_values

[<span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">81°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">88°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">86°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">86°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">86°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">86°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">86°</span></span></span>]

In [19]:
daily_low_values  = soup.find_all('span', attrs={'class': 'wr-day-temperature__low-value'})
daily_low_values

[<span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>]

In [20]:
daily_summary = soup.find('div', attrs={'class': 'wr-day-summary'})
daily_summary

<div class="wr-day-summary"><div class="gel-wrap"><span class="">Thundery showers and a gentle breeze</span><span class="wr-hide">Thundery showers and a gentle breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Light rain showers and a gentle breeze</span><span class="wr-hide">Thundery showers and a gentle breeze</span><span class="wr-hide">Heavy rain and a gentle breeze</span><span class="wr-hide">Light rain and a gentle breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span></div></div>

In [21]:
daily_summary.text

'Thundery showers and a gentle breezeThundery showers and a gentle breezeLight cloud and a moderate breezeLight rain showers and a gentle breezeThundery showers and a gentle breezeHeavy rain and a gentle breezeLight rain and a gentle breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breeze'

General book keeping.

With the code snippet in the cell above, we get forecast data for 14 days, including today. We will now post process the data to first extract the required information/text and discard all the html wrapper code, then combine all variables into one common list, and finally convert it into a pandas data frame.

In [22]:
daily_high_values[0].text.strip()

'27° 81°'

In [23]:
daily_high_values[5].text.strip()

'30° 86°'

In [24]:
daily_high_values[0].text.strip().split()[0]

'27°'

In [25]:
daily_high_values_list = [daily_high_values[i].text.strip().split()[0] for i in range(len(daily_high_values))]
daily_high_values_list

['27°',
 '29°',
 '31°',
 '31°',
 '30°',
 '30°',
 '29°',
 '29°',
 '30°',
 '30°',
 '29°',
 '29°',
 '30°',
 '30°']

In [26]:
daily_low_values_list = [daily_low_values[i].text.strip().split()[0] for i in range(len(daily_low_values))]
daily_low_values_list

['25°',
 '25°',
 '26°',
 '26°',
 '25°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°']

In [27]:
daily_summary.text

'Thundery showers and a gentle breezeThundery showers and a gentle breezeLight cloud and a moderate breezeLight rain showers and a gentle breezeThundery showers and a gentle breezeHeavy rain and a gentle breezeLight rain and a gentle breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breeze'

In [28]:
daily_summary_list = re.findall('[a-zA-Z][^A-Z]*', daily_summary.text) #split the string on uppercase
daily_summary_list

['Thundery showers and a gentle breeze',
 'Thundery showers and a gentle breeze',
 'Light cloud and a moderate breeze',
 'Light rain showers and a gentle breeze',
 'Thundery showers and a gentle breeze',
 'Heavy rain and a gentle breeze',
 'Light rain and a gentle breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze']

In [29]:
datelist = pd.date_range(datetime.today(), periods=len(daily_high_values)).tolist()
datelist

[Timestamp('2022-06-20 10:18:31.887492', freq='D'),
 Timestamp('2022-06-21 10:18:31.887492', freq='D'),
 Timestamp('2022-06-22 10:18:31.887492', freq='D'),
 Timestamp('2022-06-23 10:18:31.887492', freq='D'),
 Timestamp('2022-06-24 10:18:31.887492', freq='D'),
 Timestamp('2022-06-25 10:18:31.887492', freq='D'),
 Timestamp('2022-06-26 10:18:31.887492', freq='D'),
 Timestamp('2022-06-27 10:18:31.887492', freq='D'),
 Timestamp('2022-06-28 10:18:31.887492', freq='D'),
 Timestamp('2022-06-29 10:18:31.887492', freq='D'),
 Timestamp('2022-06-30 10:18:31.887492', freq='D'),
 Timestamp('2022-07-01 10:18:31.887492', freq='D'),
 Timestamp('2022-07-02 10:18:31.887492', freq='D'),
 Timestamp('2022-07-03 10:18:31.887492', freq='D')]

In [30]:
datelist = [datelist[i].date().strftime('%y-%m-%d') for i in range(len(datelist))]
datelist

['22-06-20',
 '22-06-21',
 '22-06-22',
 '22-06-23',
 '22-06-24',
 '22-06-25',
 '22-06-26',
 '22-06-27',
 '22-06-28',
 '22-06-29',
 '22-06-30',
 '22-07-01',
 '22-07-02',
 '22-07-03']

In [31]:
zipped = zip(datelist, daily_high_values_list, daily_low_values_list, daily_summary_list)

In [32]:
df = pd.DataFrame(list(zipped), columns=['Date', 'High','Low', 'Summary'])

In [33]:
display(df)

        Date High  Low                                 Summary
0   22-06-20  27°  25°    Thundery showers and a gentle breeze
1   22-06-21  29°  25°    Thundery showers and a gentle breeze
2   22-06-22  31°  26°       Light cloud and a moderate breeze
3   22-06-23  31°  26°  Light rain showers and a gentle breeze
4   22-06-24  30°  25°    Thundery showers and a gentle breeze
5   22-06-25  30°  26°          Heavy rain and a gentle breeze
6   22-06-26  29°  26°          Light rain and a gentle breeze
7   22-06-27  29°  26°  Thundery showers and a moderate breeze
8   22-06-28  30°  26°  Thundery showers and a moderate breeze
9   22-06-29  30°  26°  Thundery showers and a moderate breeze
10  22-06-30  29°  26°  Thundery showers and a moderate breeze
11  22-07-01  29°  26°  Thundery showers and a moderate breeze
12  22-07-02  30°  26°  Thundery showers and a moderate breeze
13  22-07-03  30°  26°  Thundery showers and a moderate breeze

In [34]:
# remove the 'degree' character
df.High = df.High.replace('\°','',regex=True).astype(float)
df.Low  = df.Low.replace('\°','',regex=True).astype(float)

In [35]:
display(df)

        Date  High   Low                                 Summary
0   22-06-20  27.0  25.0    Thundery showers and a gentle breeze
1   22-06-21  29.0  25.0    Thundery showers and a gentle breeze
2   22-06-22  31.0  26.0       Light cloud and a moderate breeze
3   22-06-23  31.0  26.0  Light rain showers and a gentle breeze
4   22-06-24  30.0  25.0    Thundery showers and a gentle breeze
5   22-06-25  30.0  26.0          Heavy rain and a gentle breeze
6   22-06-26  29.0  26.0          Light rain and a gentle breeze
7   22-06-27  29.0  26.0  Thundery showers and a moderate breeze
8   22-06-28  30.0  26.0  Thundery showers and a moderate breeze
9   22-06-29  30.0  26.0  Thundery showers and a moderate breeze
10  22-06-30  29.0  26.0  Thundery showers and a moderate breeze
11  22-07-01  29.0  26.0  Thundery showers and a moderate breeze
12  22-07-02  30.0  26.0  Thundery showers and a moderate breeze
13  22-07-03  30.0  26.0  Thundery showers and a moderate breeze

Extract the name of the city for which data is gathered.

In [36]:
#location = soup.find('div', attrs={'class':'wr-c-location'})
location = soup.find('h1', attrs={'id':'wr-location-name-id'})
location.text.split()

['Mumbai', '-', 'Weather', 'warnings', 'issued']

In [37]:
# create a recording
filename_csv = location.text.split()[0]+'.csv'
df.to_csv(filename_csv, index=None)

In [38]:
filename_xlsx = location.text.split()[0]+'.xlsx'
df.to_excel(filename_xlsx)

# Web Scraping IMDb

A tutorial to scrape movie information from IMDb
1: Import Necessary Libraries

In [39]:
from bs4 import BeautifulSoup as bs
import requests #to access website
import pandas as pd

2: Load the webpage

In [40]:
r = requests.get("https://www.imdb.com/chart/top/")

# Convert to a beautiful soup object
soup = bs(r.content)

# Print out HTML
contents = soup.prettify()
print(contents[:100])

<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
 <h

3: Creating empty list

In [41]:
movie_title = []
movie_year = []
movie_rating = []

*4*: Extract HTML tag contents

In [42]:
imdb_table = soup.find(class_="chart full-width")

In [43]:
movie_titlecolumn = imdb_table.find_all(class_="titleColumn")

In [44]:
movie_ratingscolumn = imdb_table.find_all(class_="ratingColumn imdbRating")

In [45]:
for row in movie_titlecolumn:
    title = row.a.text # tag content extraction
    movie_title.append(title)
movie_title

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather Part II',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Good, the Bad and the Ugly',
 'Forrest Gump',
 'Fight Club',
 'Inception',
 'The Lord of the Rings: The Two Towers',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Matrix',
 'Goodfellas',
 "One Flew Over the Cuckoo's Nest",
 'Se7en',
 'Seven Samurai',
 "It's a Wonderful Life",
 'The Silence of the Lambs',
 'City of God',
 'Saving Private Ryan',
 'Life Is Beautiful',
 'The Green Mile',
 'Interstellar',
 'Star Wars',
 'Terminator 2: Judgment Day',
 'Back to the Future',
 'Spirited Away',
 'Psycho',
 'The Pianist',
 'Léon: The Professional',
 'Parasite',
 'The Lion King',
 'Gladiator',
 'American History X',
 'The Usual Suspects',
 'The Departed',
 'The Prestige',
 'Casablanca',
 'Top Gun: Maverick',
 'Whiplash',
 'The Intouchables',
 'Modern Times',
 'Hara-Kiri',
 'Once Upon a Time in the West',
 'Grave of the Fireflies',
 'Rear Window',
 'Alien',
 'City Lights',
 'Cinema Paradiso',
 'Memento',
 'Apocalypse Now',
 'Indiana Jones and the Raiders of the Lost Ark',
 'Django Unchained',
 'WALL·E',
 'The Lives of Others',
 'Sunset Blvd.',
 'Paths of Glory',
 'The Shining',
 'The Great Dictator',
 'Witness for the Prosecution',
 'Avengers: Infinity War',
 'Aliens',
 'American Beauty',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Spider-Man: Into the Spider-Verse',
 'The Dark Knight Rises',
 'Oldboy',
 'Joker',
 'Braveheart',
 'Amadeus',
 'Toy Story',
 'Coco',
 'The Boat',
 'Inglourious Basterds',
 'Princess Mononoke',
 'Avengers: Endgame',
 'Once Upon a Time in America',
 'Good Will Hunting',
 'Requiem for a Dream',
 'Toy Story 3',
 'Your Name.',
 "Singin' in the Rain",
 '3 Idiots',
 'Star Wars: Episode VI - Return of the Jedi',
 '2001: A Space Odyssey',
 'Eternal Sunshine of the Spotless Mind',
 'Reservoir Dogs',
 'High and Low',
 'Capernaum',
 'Citizen Kane',
 'Lawrence of Arabia',
 'The Hunt',
 'M',
 'North by Northwest',
 'Vertigo',
 'Amélie',
 'A Clockwork Orange',
 'Come and See',
 'Full Metal Jacket',
 'Double Indemnity',
 'The Apartment',
 'Scarface',
 'Ikiru',
 'The Sting',
 'To Kill a Mockingbird',
 'Taxi Driver',
 'L.A. Confidential',
 'Up',
 'Heat',
 'Hamilton',
 'Metropolis',
 'A Separation',
 'Snatch',
 'Die Hard',
 'Incendies',
 'Indiana Jones and the Last Crusade',
 'Bicycle Thieves',
 'Spider-Man: No Way Home',
 '1917',
 'Like Stars on Earth',
 'Downfall',
 'For a Few Dollars More',
 'Batman Begins',
 'Dangal',
 'The Kid',
 'Some Like It Hot',
 'The Father',
 'All About Eve',
 'Everything Everywhere All at Once',
 'Green Book',
 'The Wolf of Wall Street',
 'Judgment at Nuremberg',
 'Unforgiven',
 'Ran',
 'Casino',
 "Pan's Labyrinth",
 'There Will Be Blood',
 'The Sixth Sense',
 'A Beautiful Mind',
 'Monty Python and the Holy Grail',
 'The Truman Show',
 'Yojimbo',
 'The Treasure of the Sierra Madre',
 'Rashomon',
 'Shutter Island',
 'The Great Escape',
 'Jurassic Park',
 'Kill Bill: Vol. 1',
 'No Country for Old Men',
 'Finding Nemo',
 'The Elephant Man',
 'Raging Bull',
 'Chinatown',
 'Gone with the Wind',
 'V for Vendetta',
 'The Thing',
 'Inside Out',
 'Lock, Stock and Two Smoking Barrels',
 'Dial M for Murder',
 'The Secret in Their Eyes',
 'The Bridge on the River Kwai',
 "Howl's Moving Castle",
 'Three Billboards Outside Ebbing, Missouri',
 'Trainspotting',
 'Gran Torino',
 'Warrior',
 'Fargo',
 'My Neighbor Totoro',
 'Prisoners',
 'Million Dollar Baby',
 'The Gold Rush',
 'Blade Runner',
 'Catch Me If You Can',
 'On the Waterfront',
 'The Third Man',
 'Children of Heaven',
 'Ben-Hur',
 '12 Years a Slave',
 'The General',
 'Wild Strawberries',
 'Gone Girl',
 'Before Sunrise',
 'Harry Potter and the Deathly Hallows: Part 2',
 'The Deer Hunter',
 'In the Name of the Father',
 'The Grand Budapest Hotel',
 'Mr. Smith Goes to Washington',
 'The Wages of Fear',
 'Barry Lyndon',
 'Sherlock Jr.',
 'Memories of Murder',
 'Room',
 'Hacksaw Ridge',
 'Klaus',
 'The Seventh Seal',
 'Wild Tales',
 'The Big Lebowski',
 'How to Train Your Dragon',
 'Mad Max: Fury Road',
 'Mary and Max',
 'Monsters, Inc.',
 'Jaws',
 'The Passion of Joan of Arc',
 'Hotel Rwanda',
 'Tokyo Story',
 'Dead Poets Society',
 'Pather Panchali',
 'Rocky',
 'Platoon',
 'Ford v Ferrari',
 'Stand by Me',
 'The Terminator',
 'Spotlight',
 'Rush',
 'Into the Wild',
 'Network',
 'The Wizard of Oz',
 'Logan',
 'Groundhog Day',
 'Ratatouille',
 'Before Sunset',
 'The Exorcist',
 'The Best Years of Our Lives',
 'The Incredibles',
 'To Be or Not to Be',
 'Rebecca',
 'The Grapes of Wrath',
 'The Battle of Algiers',
 "Hachi: A Dog's Tale",
 'Cool Hand Luke',
 'Amores perros',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'The 400 Blows',
 'La Haine',
 'Persona',
 'Life of Brian',
 'My Father and My Son',
 'Dersu Uzala',
 'It Happened One Night',
 'The Sound of Music',
 'The Handmaiden',
 'Jai Bhim',
 'Aladdin',
 'Gandhi',
 'The Help',
 'Beauty and the Beast']

# Scraping using Geocoding API of Open Street Maps (OSM)

We would be using the Nominatim API to scrape geocoding information of any open ended address text using Python.

In [ ]:
# no need to install these if using Google Colab
!pip install geopandas
!pip install geopy

In [51]:
#import nominatim api
from geopy.geocoders import Nominatim

In [53]:
#activate nominatim geocoder
locator = Nominatim(user_agent="21f1000660@student.onlinedegree.iitm.ac.in")
#type any address text
location = locator.geocode("Champ de Mars, Paris, France")

In [54]:
#print lattitude and longitude of the address
print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))

Latitude = 48.85614465, Longitude = 2.297820393322227

In [55]:
#the API output has multiple other details as a json like altitude, lattitude, longitude, correct raw addres, etc.
#printing all the informaton
location.raw,location.point,location.longitude,location.latitude,location.altitude,location.address

({'boundingbox': ['48.8522459', '48.8600801', '2.2918711', '2.303791'],
  'class': 'tourism',
  'display_name': 'Champ de Mars, Rue Edgar Faure, Quartier de Grenelle, Paris 15e Arrondissement, Paris, Île-de-France, France métropolitaine, 75015, France',
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons/poi_point_of_interest.p.20.png',
  'importance': 1.0080889235157509,
  'lat': '48.85614465',
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'lon': '2.297820393322227',
  'osm_id': 4208595,
  'osm_type': 'way',
  'place_id': 96470916,
  'type': 'attraction'},
 Point(48.85614465, 2.297820393322227, 0.0),
 2.297820393322227,
 48.85614465,
 0.0,
 'Champ de Mars, Rue Edgar Faure, Quartier de Grenelle, Paris 15e Arrondissement, Paris, Île-de-France, France métropolitaine, 75015, France')

In [56]:
#trying another address
location2 = locator.geocode("IIT Madras")

In [57]:
#printing all the informaton
location2.raw,location2.point,location2.longitude,location2.latitude,location2.altitude,location2.address

({'boundingbox': ['12.9914269', '12.9915269', '80.2336286', '80.2337286'],
  'class': 'amenity',
  'display_name': 'IIT Madras, Adayar, CMWSSB Division 174, Ward 174, Zone 13 Adyar, Chennai, Chennai District, Tamil Nadu, 600036, India',
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons/education_university.p.20.png',
  'importance': 0.6647465975709506,
  'lat': '12.9914769',
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'lon': '80.2336786',
  'osm_id': 4727968819,
  'osm_type': 'node',
  'place_id': 53759422,
  'type': 'university'},
 Point(12.9914769, 80.2336786, 0.0),
 80.2336786,
 12.9914769,
 0.0,
 'IIT Madras, Adayar, CMWSSB Division 174, Ward 174, Zone 13 Adyar, Chennai, Chennai District, Tamil Nadu, 600036, India')

# Wikipedia Library

In [58]:
!pip install wikipedia
import wikipedia as wk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wikipedia
  Downloading wikipedia-1.4.0.tar.gz (27 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from wikipedia) (4.6.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from wikipedia) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2022.6.15)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-py3-none-any.whl size=11695 sha256=e65746901b60a5dcd99a128404e8fe5f3e840f093be3d4f43fc480727cc85e96
  Stored in directory: /root/.cache/pip/wheels/15/93/6d/5b2c68b8a64c7a7a04947b4ed6d89fb557dcc6bc27d1d7f3ba
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

In [59]:
print(wk.search("IIT Madras"))

['IIT Madras', 'Indian Institutes of Technology', 'Joint Entrance Examination – Advanced', 'Inter IIT Sports Meet', 'IIT Tirupati', 'History of Indian Institutes of Technology', 'IIT Palakkad', 'List of IIT Madras people', 'IIT Kharagpur', 'Suicide of Fathima Latheef']

In [60]:
print(wk.search("IIT Madras", results=2))

['IIT Madras', 'Indian Institutes of Technology']

In [61]:
print(wk.summary("IIT Madras"))

Indian Institute of Technology Madras (IIT Madras) is a public technical university located in Chennai, Tamil Nadu, India. As one of the Indian Institutes of Technology (IITs), it is recognized as an Institute of National Importance and has been consistently rated as one of India's most prestigious universities. Founded in 1959 with technical and financial assistance from the former government of West Germany, it was the third IIT established by the Government of India. IIT Madras is ranked the top engineering institute in India by the Ministry of Education's National Institutional Ranking Framework since its inception in 2016.IIT Madras is a residential institute that occupies a 2.5-square-kilometre (0.97 sq mi) campus that was formerly part of the adjoining Guindy National Park. The institute has nearly 600 faculty, 10,000 students and 1,250 administrative and supporting staff. Growing ever since it obtained its charter from the Indian Parliament in 1961, much of the campus is a protected forest, carved out of the Guindy National Park, home to large numbers of chital (spotted deer), black buck, bonnet macaque, and other rare wildlife. A natural lake, deepened in 1988 and 2003, drains most of its rainwater.

In [62]:
print(wk.summary("IIT Madras", sentences=2))

Indian Institute of Technology Madras (IIT Madras) is a public technical university located in Chennai, Tamil Nadu, India. As one of the Indian Institutes of Technology (IITs), it is recognized as an Institute of National Importance and has been consistently rated as one of India's most prestigious universities.

In [63]:
full_page = wk.page("IIT Madras")

In [64]:
print(full_page.content)

Indian Institute of Technology Madras (IIT Madras) is a public technical university located in Chennai, Tamil Nadu, India. As one of the Indian Institutes of Technology (IITs), it is recognized as an Institute of National Importance and has been consistently rated as one of India's most prestigious universities. Founded in 1959 with technical and financial assistance from the former government of West Germany, it was the third IIT established by the Government of India. IIT Madras is ranked the top engineering institute in India by the Ministry of Education's National Institutional Ranking Framework since its inception in 2016.IIT Madras is a residential institute that occupies a 2.5-square-kilometre (0.97 sq mi) campus that was formerly part of the adjoining Guindy National Park. The institute has nearly 600 faculty, 10,000 students and 1,250 administrative and supporting staff. Growing ever since it obtained its charter from the Indian Parliament in 1961, much of the campus is a protected forest, carved out of the Guindy National Park, home to large numbers of chital (spotted deer), black buck, bonnet macaque, and other rare wildlife. A natural lake, deepened in 1988 and 2003, drains most of its rainwater.


== History ==

In 1956, the West German Government offered technical assistance for establishing an institute of higher education in engineering in India. The first Indo-German agreement was signed in Bonn, West Germany in 1959 for the establishment of the Indian Institute of Technology at Madras. IIT Madras was started with technical, academic and financial assistance from the Government of West Germany and was at the time the largest international educational project sponsored by the West German government. The Government of the Federal Republic of Germany has agreed to provide the following assistance in the establishment of a higher technological institute at Madras:

A workshop, laboratory equipment, and a library whose total value does not exceed ₹1.8 crore (US$240,000).
Twenty German professors to serve at the Institute for a period of four to five years
Four German foremen for the workshops of the Institute for 2 years
Facilities for the training of twenty Indian teachers in German institutionsThis has led to several collaborative research efforts with universities and institutions in Germany over the years. Although official support from the German government has ended, several research efforts involving the DAAD programme and Humboldt Fellowships still exist.
The Higher Technological Institute at Madras known as the Indian Institute of Technology, Madras has started functioning The first batch of 120 students was admitted in July 1959 to the first year of the Engineering Course. The institute was inaugurated in 1959, by the then Union Minister for Scientific Research and Cultural Affairs. The first batch had an overall strength of 120 students from across India. In 1961, the IITs were declared to be Institutes of National Importance. The first convocation ceremony was held on 11 July 1964, with Dr. S. Radhakrishnan, then the President of India, delivering the convocation address and awarding the degrees to the inaugural batch of students. The institute got its first women students in the BTech batch of 1966. IIT Madras celebrated its Golden Jubilee in 2009, and its Diamond Jubilee in 2019.


== Campus ==
The main entrance of IIT Madras is on Sardar Patel Road, flanked by the residential districts of Adyar and Velachery. The campus is close to the Raj Bhavan, the official seat of the Governor of Tamil Nadu. Other entrances are located in Velachery (near Anna Garden MTC bus stop, Velachery Main Road), Gandhi Road and Taramani gate (close to Ascendas Tech Park).
The campus is located 10 km (6.2 mi) from the Chennai Airport, 12 km (7.5 mi) from the Chennai Central Railway station, and is connected by city buses. Kasturba Nagar is the nearest station on the Chennai MRTS line.
Two parallel roads, Bonn Avenue and Delhi Avenue, cut through the faculty residential area before they meet at the Gajendra Circle, near the Administrative Block. Buses regularly ply between the Main Gate, Gajendra Circle, the Academic Zone, and the Hostel Zone.


=== Student Hostels ===
Most students at IIT Madras reside in hostels, where extracurricular activities complement the academic routine. The campus has 20 hostels, of which four, Sharavati, Sarayu, Sabarmati and the recently constructed Tunga are exclusively for women. In earlier times, each hostel had attached dining facilities but all of them have since been closed down. Dining facilities are provided in three centralised halls: Nilgiri, Vindhya and Himalaya. Students are assigned to hostels upon matriculation, where they usually reside for the entire duration of their course of study.

The halls of IITM are:

Sindhu, Pampa, Mahanadhi and Tamiraparani are seven-storeyed whereas all the other hostels are three or four storeyed. These four hostels can accommodate more than 1,200 students. The older hostels were all three-storeyed till the early 2000s when extra rooms were added. An additional new floor in the three-storeyed hostels which generally house the undergraduate students and a new block in place of the mess halls of these hostels have been constructed to accommodate for the increased intake of the students. These new blocks could be used as entrances for these hostels. As of 2020, Mandakini has been demolished and a multi-storey block is under construction, with provision to accommodate approximately 1000 students.


=== Facilities ===
IIT Madras provides residential accommodation for its students, faculty, administrative and supporting staff, and their families. The residential houses employ private caterers. The self-contained campus includes two schools               (Vanavani and Kendriya Vidyalaya), three temples (Jalakanteshwara, Durga Peliamman and Ganapathi), three bank branches (SBI, ICICI, Canara Bank), a hospital, shopping centres, food shops, a gym, sleeping room and cricket, football, hockey and badminton stadiums. Internet is available in the academic zone and the faculty and staff residential zone. Earlier Internet was limited in hostel-zone from 2:00 pm till midnight and from 5:00 am to 8:00 am, but increasing demand during academic semester led to round-the-clock Internet service.IIT Madras also has supercomputing capability, with the IBM Virgo Super Cluster with 97 teraflops worth of computational power.


== Organisation and administration ==


=== Governance ===
IIT Madras is an autonomous statutory organisation functioning within the Institutes of Technology Act. The sixteen IITs are administered centrally by the IIT Council, an apex body established by the Government of India. The Minister of Human Resources and Development is the chairman of the council. Each institute has a Board of Governors responsible for its administration and control.
The Senate comprises all professors of the Institute and decides its academic policy. It controls and approves the curriculum, courses, examinations, and results. It appoints committees to examine specific academic matters. The Director of the institute serves as the Chairman of the Senate. The current director is Kamakoti Veezhinathan.Three Senate Sub-Committees – The Board of Academic Research, The Board of Academic Courses and The Board of Students – help in academic administration and in the operations of the institute. The Finance Committee advises on matters of financial policy, while the Building and Works Committee advises on buildings and infrastructure. The Board of Industrial Consultancy and Sponsored Research addresses industrial consultancy and the Library Advisory Committee oversees library matters.


=== Departments ===
Aerospace Engineering
Applied Mechanics
Biotechnology (Bhupat and Jyoti Mehta School of Biosciences)
Chemical Engineering
Chemistry
Civil Engineering
Computer Science and Engineering
Electrical Engineering
Engineering Design
Humanities and Social Sciences
Mechanical Engineering
Management Studies
Metallurgical and Materials Engineering
Mathematics
Ocean Engineering
Physics


== Academics ==
IIT Madras offers undergraduate, postgraduate and research degrees across 16 disciplines in Engineering, Sciences, Humanities and Management. About 600 faculty belonging to science and engineering departments and centres of the Institute are engaged in teaching, research and industrial consultancy.
The institute has 16 academic departments and advanced research centres across disciplines of engineering and pure sciences, with nearly 100 laboratories. The academic calendar is organised around the semester. Each semester provides a minimum of seventy days of instruction in English. Students are evaluated on a continuous basis throughout the semester. Evaluation is done by the faculty, a consequence of the autonomous status granted to the institute. Research work is evaluated on the basis of the review thesis by peer examiners both from within the country and abroad. Ordinances that govern the academic programme of study are prepared by the Senate, the highest academic body within the institute.


=== Admission tests ===
For the undergraduate curriculum, admission to the BTech and Dual Degree (BSc + MSc or BTech + MTech) programme is done through the Joint Entrance Examination – Advanced (JEE-Advanced). IIT Madras conducted JEE Advanced in 2017. Admission to the five-year integrated Master of Arts (MA) programme is through the Humanities and Social Sciences Entrance Examination (HSEE), an IIT Madras specific exam. Admissions to the online degree programme for B.Sc. in Programming and Data Science are done through a Qualifier Process which includes four weeks of instruction in Computational Thinking, Mathematics, Statistics and English.For the postgraduate curriculum, admission to the MTech and MS programmes are through the Graduate Aptitude Test in Engineering (GATE). The Joint Admission Test to MSc (JAM) is the entrance exam for the two-year MSc programme, and other post BSc programmes. MBA candidates are accepted through the Common Admission Test (CAT).


=== Rankings ===
Internationally, IIT Madras was ranked 250 in the QS World University Rankings for 2023. The same rankings ranked it 54 in Asia.IIT Madras also ranked first among engineering colleges by the National Institutional Ranking Framework (NIRF) in 2020 and first overall. It ranked first in Atal Rankings of Institutions on Innovation Achievements (ARIIA) for three consecutive years from 2019 to 2021.


=== Grading System and Student Evaluation ===
The Indian Institutes of Technology are under control of the Government of India and therefore have strict rules for grade.
Depending on the course the evaluation is based on participation in class, attendance, quiz, exam and/or paper. Continuous evaluation is done by course instructors.
The Evaluation System of IIT Madras which is also used in other IITs is the Cumulative Grade Point Average with a scale from 0 to 10 which is converted to letters:

CGPA then gets calculated as the cumulative credit-weighted average of the grade points:
CGPA = (Σ Ci • GPi) / (Σ Ci)
where:
N is the number of courses
Ci is credits for the ith course
GPi is grade points for the ith course
CGPA is the cumulative grade point average
The CGPA is not the same as the one commonly used in the United States.
In India some credits might be awarded during Bachelor studies for Co-curricular and Extra-curricular Activities, while during the Master Programme this is not allowed.
Through agreements with numerous international organisations, IIT grades are accepted from many international organisations like NTU, NUS and DAAD.
Additionally, the attendance of the students is evaluated with VG for very good (always present), G for good (not present every lecture) and P for poor (student was present less than 85% of lectures).


=== Academic research programmes ===
The institute has departments and advanced research centres across the disciplines of engineering and the pure sciences, and nearly 100 laboratories.Research programmes concern work undertaken by faculty members or specific research groups within departments that award an MS or PhD degree. Research is carried out by scholars admitted into these departmental programmes, under the guidance of their faculty.  Each department makes known its areas of interest to the academic community through handbooks, brochures and bulletins. Topics of interest may be theoretical or experimental. IIT Madras has initiated 16 inter-disciplinary research projects against identified focus areas.


=== Partnership with other universities ===
The institute maintains academic friendship with educational institutes around the world through faculty exchange programmes. The institute has signed Memoranda of Understanding (MOUs) with foreign universities, resulting in cooperative projects and assignments.


=== Industrial Consultancy and Sponsored Research ===
Through industrial consultancy, faculty and staff undertake assignments for industry that may include project design, testing and evaluation, or training in new areas of industrial development. Industries and organisations like the Indian Ordnance Factories, reach out to the IIT faculty to undertake assignments channeled through the Centre For Industrial Consultancy and Sponsored Research (ICSR).
National organisations sponsor programmes of research by funding projects undertaken by the faculty. Such research is time bound and allows project participants to register for a degree.  Project proposals are usually prepared by the IIT faculty and forwarded to interested organisations, based on the nature of their research and their interest to fund such projects.
Sponsored projects are often vehicles for new resources within departments, and often permit their project staff to register for academic degrees in the institute. All sponsored research activities at the institute are coordinated by ICSR.
Park
The IIT Madras Research Park, the first of its kind to be established in India, functions to propel successful innovation in established companies and provide a nurturing ecosystem to startups through incubation efforts and technical infrastructure. Following its success, 50 research parks were planned as part of Start Up India initiative of the Central Government of India. Corporate clients of IIT Madras Research park include Bharat Heavy Electricals Limited, Saint-Gobain and Forbes Marshall. Ather Energy, Hyperverge and Gyandata are some of the startups incubated at the Research Park. The Research Park is primarily reason why a very large number of startups are incubated at IIT Madras.


=== National Programme on Technology Enhanced Learning (NPTEL) ===
To improve the quality of higher education in India, IIT Madras came up with an initiative called NPTEL (National Programme on Technology Enhanced Learning) in the year 2003. As per this initiative, all the IITs, along with the IISc Bangalore would come up with a series of video lecture based courses across all the streams of engineering. This initiative has gained wide popularity in India and the lectures are being used by several engineering students from across India. It is the Largest online repository in the world of courses in engineering, basic sciences and selected humanities and social sciences subjects.


=== BSc Degree Programme in Programming and Data Science. ===
The institute launched the country's first online BSc program in Programming and Data Science. The 116 credit program consists of three levels—Foundation (32 credits), Diploma (48 credits), and Degree (36 credits). The faculty of the program include Madhavan Mukund (Department of Computer Science & Engineering, Chennai Mathematical Institute), Rajesh Kumar (Professor, Department of Humanities and Social Sciences, IIT Madras), Andrew Thangaraj (Professor, Electrical Engineering Department, IIT Madras), Sudarshan Iyengar (Associate Professor, Department of Computer Science and Engineering, IIT Ropar), and several more faculty, instructors and mentors.

The first batch of 8,154 students who joined the program in 2020 have brought unprecedented diversity: Prathap Haridoss, professor in charge of the online degree programme, said nearly 30% of the learners are working professionals from IT, banking, manufacturing, finance, law, healthcare, marketing and other sectors.The institute has been working with experts from NPTEL to manage the program. Instruction is via recorded videos followed by activity questions. There are at least three sessions per week for each course subject that allow students to interact, discuss and study. Weekly graded assignments, monthly quizzes and an end term final exam are used to award grades as per the IIT Grading System. The in-person quizzes and exams are conducted at the test centres across the country.
In additional to a challenging academic curriculum, the students are encouraged to participate in various professional development, skill development and social activities organized by the institute, students and their clubs. In April 2021, the BSc program department organized the  'Cricket Hackathon 2021' for students, professionals, and data science enthusiasts. The academic competition was designed for beginners to learn and compete, as well as for professionals to showcase their capabilities in programming, data science, and analytics.


== Student activities ==


=== Festivals ===


==== Shaastra ====

Shaastra is the annual technical festival of IIT Madras. It is typically held in the second week of January and is the first ISO 9001:2015 certified student organised festival in the world. It is known for its organisation and activities. Forums include the symposia, workshops, video conferences, lectures, demonstrations, and technical exhibitions. Competitive activities cover design events, programming, simulations, quizzes, applied engineering, speedcubing, robotics, and junk-yard wars.


==== Saarang ====

Saarang is the annual social and cultural festival of IIT Madras. It is a five-day-long event held in early January every year and attracts a crowd of 70,000 students and young people from across the country, making it the largest student-run fest in India. Saarang events include speaking, dancing, thespian, quizzing and word games, professional shows (nicknamed proshows) and workshops on music, fashion, art, and dance.


==== Department festivals ====
Several departments organise department festivals. Samanvay, Biofest, ExeBit, Wavez, Mechanica, CEA Fest, ChemPlus, Amalgam and Forays are some of the festivals organised by the Department of Management Studies, Computer Science and Engineering, Ocean Engineering, Mechanical Engineering, Civil Engineering, Chemical Engineering, Metallurgical and Materials Engineering and Maths departments respectively. Department of Humanities and Social Sciences hosts Annual Academic Conference.


=== The Entrepreneurship Cell ===
The Entrepreneurship Cell, IITM, abbreviated as E-Cell IITM, is a student-run body responsible for promoting and inculcating a spirit of entrepreneurial thinking among both the faculty and the student fraternity of IIT Madras. E-Cell was earlier known as "C-TIDES", and was rechristened in 2015 along with a series of organizational changes in an effort to promote greater engagement among students.

In [65]:
print(full_page.url)

https://en.wikipedia.org/wiki/IIT_Madras

In [66]:
print(full_page.references)

['http://www.businessweek.com/smallbiz/news/date/9811/e981130.htm', 'http://www.hindu.com/2009/02/28/stories/2009022854140500.htm', 'http://timesofindia.indiatimes.com/tech/tech-news/IIT-Madras-is-Indias-Stanford/articleshow/46629160.cms', 'http://www.thehindu.com/news/cities/chennai/a-helping-hand-to-entrepreneurship/article17856871.ece', 'http://www.thehindu.com/sci-tech/technology/iitm-computer-system-gets-fastest-tag/article3972727.ece', 'http://www.thehindubusinessline.com/news/education/esummit-at-iit-madras-starts-on-april-7/article9620678.ece', 'http://archiv.tu-chemnitz.de/pub/2006/0020/data/MAthesis_EvelynRichter.pdf', 'http://www.oeb.harvard.edu/faculty/mahadevan/mahadevan-oeb.html', 'http://www.csail.mit.edu/user/723', 'http://nms.lcs.mit.edu/~hari/', 'http://ccw.iitm.ac.in/?q=IITMHostels/hinfo', 'http://www.ecell.iitm.ac.in/e-summit/', 'http://nptel.iitm.ac.in/', 'http://nptel.iitm.ac.in/pdf/NPTEL%20Document.pdf', 'http://www.nss.iitm.ac.in/', 'http://placement.iitm.ac.in/academics.html', 'http://respark.iitm.ac.in/', 'http://t5e.iitm.ac.in/', 'http://t5e.iitm.ac.in/2009/12/the-snet-energy-survey-8th-nov/', 'http://www.iitm.ac.in', 'http://www.iitm.ac.in/The%20Institute/', 'http://www.iitm.ac.in/about', 'http://www.iitm.ac.in/aboutcampus', 'http://www.iitm.ac.in/admissiontests', 'http://www.iitsystem.ac.in/IITcouncil/council.jsp', 'http://nptel.ac.in/course.php', 'http://www.frontline.in/static/html/fl2003/stories/20030214007506500.htm', 'http://ofb.gov.in/download/pr/pr_dgof_interview.pdf', 'http://ssbprize.gov.in/Content/Detail.aspx?AID=531', 'http://www.hri.res.in/~pinaki/', 'http://www.macfound.org/site/c.lkLXJ8MQKrH/b.5458019/k.8448/L_Mahadevan.htm', 'http://www.shaastra.org/2013/main', 'http://geohack.toolforge.org/geohack.php?pagename=IIT_Madras&params=12.99151_N_80.23362_E_', 'http://www.worldcat.org/issn/0971-751X', 'http://www.worldcat.org/issn/0971-8257', 'https://drive.google.com/file/d/0B0cmCKgXUt7ceHZ3SUEwa2s5bTg/view', 'https://timesofindia.indiatimes.com/city/chennai/Its-spit-of-anger-vs-kiss-of-love-at-IIT/articleshow/45183914.cms', 'https://timesofindia.indiatimes.com/city/chennai/iit-madras-diamond-jubilee-celebrations-assume-global-proportions-events-to-be-held-in-83-cities/articleshow/70143608.cms', 'https://timesofindia.indiatimes.com/city/chennai/iit-madras-alumnus-is-now-its-new-director/articleshow/88821542.cms', 'https://www.livemint.com/news/india/iit-madras-raises-700-crore-as-endowment-fund-11616957609084.html', 'https://www.ndtv.com/education/iit-madras-to-hold-open-house-to-showcase-student-innovations-2125282', 'https://www.thehindu.com/education/in-1966-she-was-iit-madras-first-woman-civil-engineering-student/article28759995.ece', 'https://www.thehindu.com/news/cities/chennai/chen-society/golden-jubilee-of-iitms-first-batch-of-graduands/article6218293.ece', 'https://www.thehindu.com/news/cities/chennai/iit-madras-named-most-innovative-institute/article38067215.ece', 'https://www.thehindu.com/news/cities/chennai/iitm-turns-60-a-chat-with-first-batch-students/article28744533.ece', 'https://www.thehindu.com/news/national/tamil-nadu/over-8100-join-iit-madras-online-bsc-degree-course/article33295371.ece', 'https://www.thenewsminute.com/tamils/287?amp', 'https://www.topuniversities.com/universities/indian-institute-technology-madras-iitm', 'https://www.youtube.com/watch?v=5485lx6wsao', 'https://aleph.nkp.cz/F/?func=find-c&local_base=aut&ccl_term=ica=ko2008435605&CON_LNG=ENG', 'https://www.projekt-mida.de/reflexicon/indo-german-entanglements-in-science-and-technology-the-indian-institute-of-technology-madras/', 'https://cms.caltech.edu/people/mani', 'https://catalogue.bnf.fr/ark:/12148/cb12442559g', 'https://data.bnf.fr/ark:/12148/cb12442559g', 'https://www.idref.fr/033570418', 'https://id.loc.gov/authorities/names/n50063099', 'https://oir.iitm.ac.in/mou/', 'https://onlinedegree.iitm.ac.in/', 'https://onlinedegree.iitm.ac.in/admissions.html#AD2', 'https://onlinedegree.iitm.ac.in/course_pages/BSCCS1002.html', 'https://onlinedegree.iitm.ac.in/course_pages/BSCHS1001.html', 'https://onlinedegree.iitm.ac.in/course_pages/BSCMA1001.html#9003', 'https://onlinedegree.iitm.ac.in/course_pages/BSCMA1004.html', 'https://research.iitm.ac.in/department_list#:~:text=RESEARCH%20AREAS,-Cellular,%20Molecular%20and&text=Bioinformatics%20and%20Computational%20Biology;%20Biomedical,Molecular%20Genetics%20of%20Plant%20Development.', 'https://respark.iitm.ac.in/iit-madras-launches-worlds-first-ever-online-b-sc-degree-in-programming-and-data-science/', 'https://www.iitm.ac.in/', 'https://www.iitm.ac.in/happenings/press-releases-and-coverages/iit-madras-launches-cricket-hackathon-2021', 'https://www.iitm.ac.in/nirfreports/nirf2016/NIRF-Overall-FullReport.pdf', 'https://www.iitm.ac.in/sites/default/files/Others/annual-budget-2021-22.pdf', 'https://www.iitm.ac.in/the-institute/administration/academic-administration', 'https://nptel.ac.in/', 'https://www.collegesearch.in/exam/jee-advanced/article/top-10-iits-in-india-2018-29-174', 'https://www.ariia.gov.in/Ranking2019.html', 'https://eparlib.nic.in/bitstream/123456789/1530/1/lsd_02_06_02-12-1958.pdf', 'https://eparlib.nic.in/bitstream/123456789/1769/1/lsd_02_08_10-08-1959.pdf', 'https://web.archive.org/web/20060427232338/http://www.iitm.ac.in/The%20Institute/', 'https://web.archive.org/web/20090303061238/http://www.hindu.com/2009/02/28/stories/2009022854140500.htm', 'https://web.archive.org/web/20091115092457/http://www.businessweek.com/smallbiz/news/date/9811/e981130.htm', 'https://web.archive.org/web/20100215010549/http://archiv.tu-chemnitz.de/pub/2006/0020/data/MAthesis_EvelynRichter.pdf', 'https://web.archive.org/web/20120113170811/http://www.nptel.iitm.ac.in/', 'https://web.archive.org/web/20120227163617/http://www.oeb.harvard.edu/faculty/mahadevan/mahadevan-oeb.html', 'https://web.archive.org/web/20120623211803/http://www.nss.iitm.ac.in/', 'https://web.archive.org/web/20120904044551/http://nptel.iitm.ac.in/pdf/NPTEL%20Document.pdf', 'https://web.archive.org/web/20130409125154/http://placement.iitm.ac.in/academics.html', 'https://web.archive.org/web/20130707013747/http://t5e.iitm.ac.in/', 'https://web.archive.org/web/20130907050154/http://www.shaastra.org/2013/main', 'https://web.archive.org/web/20140810091111/http://www.iitsystem.ac.in/IITcouncil/council.jsp', 'https://web.archive.org/web/20141103172852/http://t5e.iitm.ac.in/2009/12/the-snet-energy-survey-8th-nov/', 'https://web.archive.org/web/20161128191932/http://nptel.ac.in/course.php', 'https://web.archive.org/web/20170704084948/http://www.ecell.iitm.ac.in/e-summit/', 'https://ghostarchive.org/varchive/youtube/20211107/5485lx6wsao', 'https://isni.org/isni/000000012314788X', 'https://isni.org/isni/0000000123151926', 'https://www.nirfindia.org/2018/EngineeringRanking.html', 'https://www.nirfindia.org/2019/EngineeringRanking.html', 'https://www.nirfindia.org/2021/EngineeringRanking.html', 'https://www.nirfindia.org/2021/OverallRanking.html', 'https://www.nobelprize.org/prizes/chemistry/2019/goodenough/lecture/', 'https://viaf.org/viaf/168123199', 'https://www.wikidata.org/wiki/Q858662#identifiers', 'https://www.worldcat.org/identities/lccn-n50063099/']

In [67]:
print(full_page.title)

IIT Madras

In [68]:
print(full_page.images)

['https://upload.wikimedia.org/wikipedia/commons/f/f2/Blackbuck_white.jpg', 'https://upload.wikimedia.org/wikipedia/commons/1/1b/Brahmaputra_Hostel.jpg', 'https://upload.wikimedia.org/wikipedia/commons/c/c4/Deer_of_IIT_Madras_masatran_0058_0010.jpeg', 'https://upload.wikimedia.org/wikipedia/commons/e/e4/Godavari_Hostel_Entrance.jpg', 'https://upload.wikimedia.org/wikipedia/commons/0/08/Heritage_Center1.jpg', 'https://upload.wikimedia.org/wikipedia/commons/8/85/Pfeil_links.svg', 'https://upload.wikimedia.org/wikipedia/commons/7/76/Pfeil_oben.svg', 'https://upload.wikimedia.org/wikipedia/commons/c/c5/Pfeil_rechts.svg', 'https://upload.wikimedia.org/wikipedia/commons/c/c3/Pfeil_unten.svg', 'https://upload.wikimedia.org/wikipedia/commons/7/71/Sabarmathi_hostel2.jpg', 'https://upload.wikimedia.org/wikipedia/en/4/4a/Commons-logo.svg', 'https://upload.wikimedia.org/wikipedia/en/f/f2/Edit-clear.svg', 'https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg', 'https://upload.wikimedia.org/wikipedia/en/6/69/IIT_Madras_Logo.svg', 'https://upload.wikimedia.org/wikipedia/en/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg', 'https://upload.wikimedia.org/wikipedia/en/9/99/Question_book-new.svg', 'https://upload.wikimedia.org/wikipedia/en/9/96/Symbol_category_class.svg']

In [69]:
print(full_page.images[0])

https://upload.wikimedia.org/wikipedia/commons/f/f2/Blackbuck_white.jpg

In [70]:
#extract html code of wikipedia page based on any search text
html = wk.page("IIT Madras").html().encode("UTF-8") 

import pandas as pd
df = pd.read_html(html)[6]  

df

    0                                                  1
0 NaN  This article's list of alumni may not follow W...

# **Tutorial To Scrape PDFs from a Given URL**
This tutorial will help us to download all the PDFs in a given URL. In addition to downloading the PDF, this tutorial also helps us in reading a PDF and saving a table from the PDF to a conservative structured format like a CSV.

In [97]:
import os
import requests
import urllib.request
import pandas as pd
import tabula #to parse the pdf files
from urllib.parse import urljoin
from bs4 import BeautifulSoup

In [ ]:
# Tabula scrapes tables from PDFs
!pip install tabula-py
import tabula

In [73]:
import tabula

In [86]:
folder_location = "premier_league"

In [87]:
# Create a folder to store the downloaded pdfs
if not os.path.exists(folder_location):
    os.mkdir(folder_location)

In [88]:
url = "https://www.premierleague.com/publications"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

In [94]:
#This snippet is commented, since it'll take a long time to finish downloading all pdfs.
for each in soup.find_all("a",  attrs={'href': re.compile('.*\.pdf')}):
  filename = os.path.join("premier_league", each['href'].split('/')[-1])
  print(filename)
  with open(filename, 'wb') as f:
    f.write(requests.get(urljoin(url,each['href'])).content)

premier_league/PL_Handbook_2021_22_DIGITAL_07-04-22.pdf
premier_league/PL_2021-22_Youth_Development_Rules_23.09.pdf
premier_league/PL2_2021-22_Handbook_23.09.pdf
premier_league/PDL_2021-22_Handbook_23.09.pdf
premier_league/U18-PL_2021-22_Handbook_23.09.pdf
premier_league/U18PDL_2022-21_Handbook_23.09.pdf
premier_league/FP-Player-Parent-Handbook-2020-21.pdf
premier_league/YDP-Player-Parent-Handbook-2020-21.pdf
premier_league/Professional-Retain-List-2021-22.pdf
premier_league/Professional-Retain-List-2021-22.pdf
premier_league/PL-Commitment-re.-abusive-and-discriminatory-conduct-August-2021-.pdf
premier_league/Accessible-Stadia-Guidelines-Premier-League-Report-2017-appendix.pdf
premier_league/BAME-FEMALE-COACH-INITIATIVE-2018.pdf
premier_league/U23-Weekly-Bulletin-2021-22-41.pdf
premier_league/U18-Weekly-Bulletin-2021-22-41.pdf
premier_league/U18-Weekly-Bulletin-2021-22-40.pdf
premier_league/U18-Weekly-Bulletin-2021-22-40.pdf
premier_league/U23-Weekly-Bulletin-2021-22-39.pdf
premier_league/U18-Weekly-Bulletin-2021-22-39.pdf
premier_league/U23-Weekly-Bulletin-2021-22-38.pdf
premier_league/U18-Weekly-Bulletin-2021-22-38.pdf
premier_league/U23-Weekly-Bulletin-2021-22-37.pdf
premier_league/U18-Weekly-Bulletin-2021-22-37.pdf
premier_league/U23-Weekly-Bulletin-2021-22-36.pdf
premier_league/U18-Weekly-Bulletin-2021-22-36.pdf
premier_league/U23-Weekly-Bulletin-2021-22-35.pdf
premier_league/U18-Weekly-Bulletin-2021-22-35.pdf
premier_league/U23-Weekly-Bulletin-2021-22-34.pdf
premier_league/U18-Weekly-Bulletin-2021-22-34.pdf
premier_league/U23-Weekly-Bulletin-2021-22-33.pdf
premier_league/U18-Weekly-Bulletin-2021-22-33.pdf
premier_league/U23-Weekly-Bulletin-2021-22-32.pdf
premier_league/U18-Weekly-Bulletin-2021-22-32.pdf
premier_league/U23-Weekly-Bulletin-2021-22-31.pdf
premier_league/U18-Weekly-Bulletin-2021-22-31.pdf
premier_league/U23-Weekly-Bulletin-2021-22-30.pdf
premier_league/U18-Weekly-Bulletin-2021-22-30.pdf
premier_league/U23-Weekly-Bulletin-2021-22-29.pdf
premier_league/U18-Weekly-Bulletin-2021-22-29.pdf
premier_league/U18-Weekly-Bulletin-2021-22-28.pdf
premier_league/U18-Weekly-Bulletin-2021-22-28.pdf
premier_league/U23-Weekly-Bulletin-2021-22-27.pdf
premier_league/U18-Weekly-Bulletin-2021-22-27.pdf
premier_league/U23-Weekly-Bulletin-2021-22-26.pdf
premier_league/U18-Weekly-Bulletin-2021-22-26.pdf
premier_league/U23-Weekly-Bulletin-2021-22-25.pdf
premier_league/U18-Weekly-Bulletin-2021-22-25.pdf
premier_league/U23-Weekly-Bulletin-2021-22-24.pdf
premier_league/U18-Weekly-Bulletin-2021-22-24.pdf
premier_league/U23-Weekly-Bulletin-2021-22-23.pdf
premier_league/U18-Weekly-Bulletin-2021-22-23.pdf
premier_league/U23-Weekly-Bulletin-2021-22-22.pdf
premier_league/U18-Weekly-Bulletin-2021-22-22.pdf
premier_league/U23-Weekly-Bulletin-2021-22-21.pdf
premier_league/U18-Weekly-Bulletin-2021-22-21.pdf
premier_league/U23-Weekly-Bulletin-2021-22-20.pdf
premier_league/U18-Weekly-Bulletin-2021-22-20.pdf
premier_league/U18-Weekly-Bulletin-2021-22-19.pdf
premier_league/U23-Weekly-Bulletin-2021-22-18.pdf
premier_league/U18-Weekly-Bulletin-2021-22-18.pdf
premier_league/U23-Weekly-Bulletin-2021-22-17.pdf
premier_league/U18-Weekly-Bulletin-2021-22-17.pdf
premier_league/U23-Weekly-Bulletin-2021-22-16.pdf
premier_league/U18-Weekly-Bulletin-2021-22-16.pdf
premier_league/U23-Weekly-Bulletin-2021-22-15.pdf
premier_league/U18-Weekly-Bulletin-2021-22-15.pdf
premier_league/U23-Weekly-Bulletin-2021-22-14.pdf
premier_league/U18-Weekly-Bulletin-2021-22-14.pdf
premier_league/U23-Weekly-Bulletin-2021-22-13.pdf
premier_league/U18-Weekly-Bulletin-2021-22-13.pdf
premier_league/U23-Weekly-Bulletin-2021-22-12.pdf
premier_league/U18-Weekly-Bulletin-2021-22-12.pdf
premier_league/U23-Weekly-Bulletin-2021-22-11.pdf
premier_league/U18-Weekly-Bulletin-2021-22-11.pdf
premier_league/U23-Weekly-Bulletin-2021-22-10.pdf
premier_league/U18-Weekly-Bulletin-2021-22-10.pdf
premier_league/U23-Weekly-Bulletin-2021-22-9.pdf
premier_league/U18-Weekly-Bulletin-2021-22-9.pdf
premier_league/U23-Weekly-Bulletin-2021-22-8.pdf
premier_league/U18-Weekly-Bulletin-2021-22-8.pdf
premier_league/U18-Weekly-Bulletin-2021-22-7.pdf
premier_league/U18-Weekly-Bulletin-2021-22-7.pdf
premier_league/U23-Weekly-Bulletin-2021-22-6.pdf
premier_league/U18-Weekly-Bulletin-2021-22-6.pdf
premier_league/U23-Weekly-Bulletin-2021-22-5.pdf
premier_league/U18-Weekly-Bulletin-2021-22-5.pdf
premier_league/U23-Weekly-Bulletin-2021-22-4.pdf
premier_league/U18-Weekly-Bulletin-2021-22-4.pdf
premier_league/U23-Weekly-Bulletin-2021-22-3.pdf
premier_league/U18-Weekly-Bulletin-2021-22-3.pdf
premier_league/U23-Weekly-Bulletin-2021-22-2.pdf
premier_league/U18-Weekly-Bulletin-2021-22-2.pdf
premier_league/U23-Weekly-Bulletin-2021-22-1.pdf
premier_league/U18-Weekly-Bulletin-2021-22-1.pdf
premier_league/PL_Report_20-21_Digital.pdf
premier_league/Premier-League-Review-201920.pdf
premier_league/TIPL_Digital.pdf
premier_league/This-is-PL-Interactive-Combined.pdf
premier_league/This_Is_Premier_League_2016-17.pdf
premier_league/Premier_League_Inspiring_stories_2015-16.pdf
premier_league/Premier_League_Connecting-with-communities_2015-16.pdf
premier_league/2014-15-premier-league-season-review.pdf
premier_league/premier-league-communities-2014-15.pdf
premier_league/2013-14-premier-league-season-review.pdf
premier_league/2012-13-premier-league-season-review.pdf
premier_league/2011-12-premier-league-season-review.pdf

In [95]:
#This snippet only downloads one particular file
filename = os.path.join("premier_league", "/This-is-PL-Interactive-Combined.pdf")
with open(filename, 'wb') as f:
    f.write(requests.get(urljoin(url,"This-is-PL-Interactive-Combined.pdf")).content)

In [99]:
# Converting the table in one of the pdf files to csv format.
from tabula import convert_into

combined_pdf = folder_location + "/This-is-PL-Interactive-Combined.pdf"
convert_into(combined_pdf, folder_location +"/table_output.csv", output_format="csv",pages = 18,area=[[275,504,640,900]])
pd.read_csv(folder_location+"/table_output.csv", encoding= "ISO-8859-1")

,Pos,Unnamed: 1,Club,W,D,L,GD,Pts,Total payment
0,1.0,NaN,Manchester City,32.0,4.0,2.0,79.0,100.0,Â£149.4m
1,2.0,NaN,Manchester United,25.0,6.0,7.0,40.0,81.0,Â£149.8m
2,3.0,NaN,Tottenham Hotspur,23.0,8.0,7.0,38.0,77.0,Â£144.4m
3,4.0,NaN,Liverpool,21.0,12.0,5.0,46.0,75.0,Â£145.9m
4,5.0,NaN,Chelsea,21.0,7.0,10.0,24.0,70.0,Â£141.7m
5,6.0,NaN,Arsenal,19.0,6.0,13.0,23.0,63.0,Â£142.0m
6,7.0,NaN,Burnley,14.0,12.0,12.0,-3.0,54.0,Â£119.8m
7,8.0,NaN,Everton,13.0,10.0,15.0,-14.0,49.0,Â£128.0m
8,9.0,NaN,Leicester City,12.0,11.0,15.0,-4.0,47.0,Â£118.2m
9,10.0,NaN,Newcastle United,12.0,8.0,18.0,-8.0,44.0,Â£123.0m
10,NaN,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,E RY SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11.0,NaN,Crystal Palace,11.0,11.0,16.0,-10.0,44.0,Â£114.3m
13,12.0,NaN,AFC Bournemouth,11.0,11.0,16.0,-16.0,44.0,Â£111.2m
14,13.0,NaN,West Ham United,10.0,12.0,16.0,-20.0,42.0,Â£116.1m
15,14.0,NaN,Watford,11.0,8.0,19.0,-20.0,41.0,Â£106.3m
16,15.0,NaN,Brighton & Hove Albion,9.0,13.0,16.0,-20.0,40.0,Â£107.7m
17,16.0,NaN,Huddersfield Town,9.0,10.0,19.0,-30.0,37.0,Â£102.4m
18,17.0,NaN,Southampton,7.0,15.0,16.0,-19.0,36.0,Â£107.2m
19,18.0,NaN,Swansea City,8.0,9.0,21.0,-28.0,33.0,Â£98.5m
20,19.0,NaN,Stoke City,7.0,12.0,19.0,-33.0,33.0,Â£98.9m
21,20.0,NaN,West Bromwich Albion,6.0,13.0,19.0,-25.0,31.0,Â£94.7m

# Image Labelling

In [130]:
import requests, lxml, re, urllib.parse, base64
from bs4 import BeautifulSoup
from PIL import Image
from io import BytesIO

In [131]:
headers = {
    "User-Agent":
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36 Edge/18.19582"
}

params = {
    "q": "chess pawn",
    "sourceid": "chrome",
}
query_term = params['q']
html = requests.get("https://www.google.com/search", params=params)
soup = BeautifulSoup(html.text, 'lxml')

for result in soup.select('div[jsname=dTDiAc]'):
    link = f"https://www.google.com{result.a['href']}"
    being_used_on = result['data-lpage']
    print(f'Link: {link}\nBeing used on: {being_used_on}\n')

# finding all script (<script>) tags

In [132]:
script_img_tags = soup.find_all('script')

# https://regex101.com/r/L3IZXe/4
img_matches = re.findall(r"s='data:image/jpeg;base64,(.*?)';", str(script_img_tags))

for index, image in enumerate(img_matches):
    try:
        # https://stackoverflow.com/a/6966225/15164646
        final_image = Image.open(BytesIO(base64.b64decode(str(image))))

        # https://www.educative.io/edpresso/absolute-vs-relative-path
        # https://stackoverflow.com/a/31434485/15164646
        final_image.save(f'{query_term}_{index}.jpg', 'JPEG')
    except:
        pass

In [133]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).