A tutorial to scrape movie information from IMDb 1: Import Necessary Libraries

In [39]:
from bs4 import BeautifulSoup as bs
import requests #to access website
import pandas as pd

2: Load the webpage

In [40]:
r = requests.get("https://www.imdb.com/chart/top/")

# Convert to a beautiful soup object
soup = bs(r.content)

# Print out HTML
contents = soup.prettify()
print(contents[:100])

<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
 <h

3: Creating empty list

In [41]:
movie_title = []
movie_year = []
movie_rating = []

4: Extract HTML tag contents

In [42]:
imdb_table = soup.find(class_="chart full-width")

In [43]:
movie_titlecolumn = imdb_table.find_all(class_="titleColumn")

In [44]:
movie_ratingscolumn = imdb_table.find_all(class_="ratingColumn imdbRating")

In [ ]:
for row in movie_titlecolumn:
    title = row.a.text # tag content extraction
    movie_title.append(title)
movie_title

In [ ]:
for row in movie_titlecolumn:
    year = row.span.text # tag content extraction
    movie_year.append(year)
movie_year

In [ ]:
for row in movie_ratingscolumn:
    rating = row.strong.text # tag content extraction
    movie_rating.append(rating)
movie_rating

5. Create Dataframe

In [48]:
movie_df = pd.DataFrame({'Movie Title': movie_title, 'Year of Release': movie_year, 'IMDb Rating': movie_rating})
movie_df.head(30) #View first 30 rows of dataframe

,Movie Title,Year of Release,IMDb Rating
0,The Shawshank Redemption,(1994),9.2
1,The Godfather,(1972),9.2
2,The Dark Knight,(2008),9.0
3,The Godfather Part II,(1974),9.0
4,12 Angry Men,(1957),8.9
5,Schindler's List,(1993),8.9
6,The Lord of the Rings: The Return of the King,(2003),8.9
7,Pulp Fiction,(1994),8.9
8,The Lord of the Rings: The Fellowship of the Ring,(2001),8.8
9,"The Good, the Bad and the Ugly",(1966),8.8
10,Forrest Gump,(1994),8.8
11,Fight Club,(1999),8.7
12,Inception,(2010),8.7
13,The Lord of the Rings: The Two Towers,(2002),8.7
14,Star Wars: Episode V - The Empire Strikes Back,(1980),8.7
15,The Matrix,(1999),8.7
16,Goodfellas,(1990),8.7
17,One Flew Over the Cuckoo's Nest,(1975),8.6
18,Se7en,(1995),8.6
19,Seven Samurai,(1954),8.6
20,It's a Wonderful Life,(1946),8.6
21,The Silence of the Lambs,(1991),8.6
22,City of God,(2002),8.6
23,Saving Private Ryan,(1998),8.6
24,Life Is Beautiful,(1997),8.6
25,The Green Mile,(1999),8.6
26,Interstellar,(2014),8.6
27,Star Wars,(1977),8.6
28,Terminator 2: Judgment Day,(1991),8.5
29,Back to the Future,(1985),8.5